@import "tailwindcss";

@theme {
    --color-primary: #0F6E56;
    --color-primary-light: #E1F5EE;
    --color-warm-white: #FAFAF8;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-warm-white text-gray-800 antialiased;
        font-family: 'Inter', sans-serif;
    }
}
